name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Emacs ${{ matrix.emacs_version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version:
          - '30.1'
          - 'snapshot'
        include:
          - emacs_version: 'snapshot'
            allow_failure: true

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}

      - name: Setup Keg
        uses: conao3/setup-keg@master

      - name: Run tests
        if: ${{ !matrix.allow_failure }}
        run: make test

      - name: Run tests (allow failure)
        if: ${{ matrix.allow_failure }}
        continue-on-error: true
        run: make test
